
<html>
	<head>
		#parse("/glass/velocity/widgets/head.vm")
	</head>
	<body>

		#parse("/glass/velocity/widgets/menu.vm")

        <h2><span>Hanged triggers</span></h2>
        <div class="table">
            #if ($hangedTriggers.size() > 0)
                <table class="table">
                    <thead>
                        <tr>
                            <th>Job group / name</th>
                            <th>Trigger group / name</th>
                            <th>Previous firetime</th>
                            <th>Next firetime</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach ($trigger in $hangedTriggers)
                            <tr>
                                <td>${trigger.jobGroup} / ${trigger.jobName}</td>
                                <td>${trigger.group} / ${trigger.name}</td>
                                <td>$date.format("dd/MM/yyyy HH:mm:ss", $trigger.previousFireTime)</td>
                                <td>$date.format("dd/MM/yyyy HH:mm:ss", $trigger.nextFireTime)</td>
                                <td nowrap="nowrap">
                                    <a onclick="javascript:return(confirm('Are you sure you want to restart trigger ?'));" href="/restartTrigger?group=$esc.xml($trigger.group)&amp;name=$esc.xml($trigger.name)">
                                        <img alt="restart" src="/glass/velocity/image/restart.png" />
                                    </a>
                                </td>
                            </tr>
                        #end
                    </tbody>
                </table>
            #else
                none
            #end
        </div>

		<h2><span>Running jobs</span></h2>
		<div class="table">
            #if ($runningJobs.size() > 0)
                <table>
                    <thead>
                        <tr>
                            <th>Job group / name</th>
                            <th>Class</th>
                            <th>FireTime</th>
                            <th>Duration</th>
                            <th>Stop</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach ($jobContext in $runningJobs)
                            <tr>
                                <td><a href="/jobs/$esc.xml($jobContext.jobDetail.group)/$esc.xml($jobContext.jobDetail.name)">${jobContext.jobDetail.group} / ${jobContext.jobDetail.name}</a></td>
                                <td>${jobContext.jobDetail.jobClass}</td>
                                <td style="text-align: center">$date.format("dd/MM/yyyy HH:mm:ss", $jobContext.fireTime)</td>
                                <td style="text-align: center">${ (now.time - jobContext.fireTime.time) / 1000 }</td>
                                <td style="text-align: center">
                                    <!--
                                    <c:if test="{job:interruptable(jobContext.jobDetail)}">
                                        <a href="/interrupt?group={fn:escapeXml(jobContext.jobDetail.group)}&amp;name={fn:escapeXml(jobContext.jobDetail.name)}"><img src="/glass/velocity/image/stop.png" alt="stop" ></a>
                                    </c:if>
                                    -->
                                </td>
                            </tr>
                        #end
                    </tbody>
                </table>
            #else
                none
            #end
        </div>

        <h2><span>Paused triggers</span></h2>
		<div class="table">
            #if ($pausedTriggers.size() > 0)
                <table>
                    <thead>
                        <tr>
                            <th>Job group</th>
                            <th>Job name</th>
                            <th>Group</th>
                            <th>Name</th>
                            <th>Next firetime</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach ($trigger in $pausedTriggers)
                            <tr>
                                <td>${trigger.jobGroup}</td>
                                <td>${trigger.jobName}</td>
                                <td>${trigger.group}</td>
                                <td>${trigger.name}</td>
                                <td>$date.format("dd/MM/yyyy HH:mm:ss", $trigger.nextFireTime)</td>
                            </tr>
                        #end
                    </tbody>
                </table>
            #else
                none
            #end
        </div>

	</body>
</html>