<!DOCTYPE html>

<html>
	<head>
		#parse("/glass/velocity/widgets/head.vm")
	</head>
	<body>
	    #parse("/glass/velocity/widgets/menu.vm")
		
		<h1><span>Run history</span></h1>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Job group / name</th>
                        <th>Trigger group / name</th>
                        <th>Job class</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($log in $logs)
                        <tr>
                            <td>$esc.html($log.type)</td>
                            <td>$date.format("dd/MM/yyyy HH:mm:ss", ${log.date})</td>
                            <td><a href="/jobs/$esc.xml($log.jobGroup)/$esc.xml($log.jobName)">$esc.html($log.jobGroup) / $esc.html($log.jobName)</a></td>
                            <td>$esc.html($log.triggerGroup) / $esc.html($log.triggerName)</td>
                            <td>${log.jobClass}</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                #if ($utils.isNotEmpty($log.stackTrace))
                                    <pre>$!esc.html($log.stackTrace)</pre>
                                #end
                                #if ($utils.isNotEmpty($log.stackTrace))
                                    <pre>$esc.html($log.stackTrace)</pre>
                                #end
                            </td>
                        </tr>
                    #end
                </tbody>
            </table>
        </div>
	</body>
</html>