<html>
	<head>
		#parse("/glass/velocity/widgets/head.vm")
	</head>
	<body>
	
		#parse("/glass/velocity/widgets/menu.vm")
		
		<h1><span>Defined jobs</span></h1>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Group / name</th>
                        <th>Class</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($job in $jobs)
                        <tr>
                            <td><a href="/jobs/$esc.xml($job.group)}/$esc.xml($job.name)">$esc.html($job.group) / $esc.html($job.name)</a></td>
                            <td>${job.jobClass.name}</td>
                            <td style="text-align: center;">
                                <a onclick="javascript:return(confirm('Are you sure you want to delete ?'));" href="/jobs/$esc.xml($job.group)/$esc.xml($job.name)/delete">
                                    <img alt="delete" src="/glass/velocity/image/delete.png" />
                                </a>
                            </td>
                        </tr>
                    #end
                </tbody>
            </table>
        </div>
	</body>
</html>