<!DOCTYPE html>

<html>
	<head>
		#parse("/glass/velocity/widgets/head.vm")
	</head>
	<body>
		#parse("/glass/velocity/widgets/menu.vm")

		<h1><span>Create job</span></h1>

        <div class="table">
            <form id="jobActionForm" action="/jobs/new" method="POST" >
                <table>
                    #springBind("form.group")
                    <tr>
                        <td>group</td>
                        <td>
                            <input type="text" name="group" value="$!esc.xml($status.value)" />
                            #if(${status.error}) ${status.errorMessage} #end
                        </td>
                    </tr>
                    #springBind("form.name")
                    <tr>
                        <td>name</td>
                        <td>
                            <input type="text" name="name" value="$!esc.xml($status.value)" />
                            #if(${status.error}) ${status.errorMessage} #end
                        </td>
                    </tr>
                    #springBind("form.clazz")
                    <tr>
                        <td>class</td>
                        <td>
                            <select name="clazz" onchange="javascript:var args=new JobArguments(this[this.selectedIndex].value);args.buildHtml('arguments-body-id')">
                                <option label="------------------------------" value="" />
                                #foreach ($value in $jobClasses)
                                    <option label="$value.name" value="$value.name" />
                                #end
                            </select>
                             #if(${status.error}) ${status.errorMessage} #end
                        </td>
                    </tr>
                    #if ($utils.isNotEmpty($jobDescription))
                        <tr>
                            <td>description</td>
                            <td>$esc.html($jobDescription)</td>
                        </tr>
                    #end
                    #springBind("form.dataMap")
                    <tr>
                        <td valign="top">data map</td>
                        <td><textarea name="dataMap" rows="20" cols="100" >$!esc.html($status.value)</textarea></td>
                    </tr>
                </table>
                <input type="submit" value="create job"/>
            </form>
        </div>

        #parse("/glass/velocity/widgets/args.vm")

	</body>
</html>