<!DOCTYPE html>

<html>
	<head>
		#parse("/glass/velocity/widgets/head.vm")
	</head>
	<body>
	    #parse("/glass/velocity/widgets/menu.vm")
		
		<h1><span>Defined triggers</span></h1>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Job Group / name</th>
                        <th>Trigger Group / name</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Last fire time</th>
                        <th>Next fire time</th>
                        <th>planification</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($jobAndTriggers in $jobsAndTriggers)
                        #set ($job = $jobAndTriggers.jobDetail)
                        #foreach ($trigger in $jobAndTriggers.triggers)
                            <tr>
                                <td style="text-align: center;">$esc.html($trigger.type)</td>
                                <td><a href="/jobs/$esc.xml($job.group)/$esc.xml($job.name)">$esc.html($job.group) / $esc.html($job.name)</a></td>
                                <td>$esc.html($trigger.group) / $esc.html($trigger.name)</td>
                                <td style="text-align: center;">
                                    $date.format("dd/MM/yyyy HH:mm:ss", $trigger.startTime)
                                    #if ($trigger.running) &nbsp;<span style="color: red;">running</span> #end
                                </td>
                                <td style="text-align: center;">$!date.format("dd/MM/yyyy HH:mm:ss", $trigger.endTime)</td>
                                <td style="text-align: center;">$!date.format("dd/MM/yyyy HH:mm:ss", $trigger.previousFireTime)</td>
                                <td style="text-align: center;">$!date.format("dd/MM/yyyy HH:mm:ss", $trigger.nextFireTime)</td>
                                <td style="text-align: center;">$esc.html($trigger.planification)</td>
                                <td style="text-align: center;">
                                    <a onclick="javascript:return(confirm('Are you sure you want to delete ?'));" href="/jobs/$esc.xml($job.group)/$esc.xml($job.name)/triggers/$esc.xml($trigger.group)/$esc.xml($trigger.name)/delete">
                                        <img alt="delete" src="/image/delete.png" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9">
                                    <pre>$esc.html($trigger.dataMap)</pre>
                                </td>
                            </tr>
                        #end
                    #end
                </tbody>
            </table>
        </div>
	</body>
</html>