#macro (history $title $items)
    <h1><span>$title</span></h1>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Job group / name</th>
                    <th>Trigger group / name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Job class</th>
                </tr>
            </thead>
            <tbody>
                #foreach ($log in $items)
                    #if ($log.ended && !$log.success)
                        <tr class="ERROR">
                    #else
                        <tr>
                    #end
                        <td><a href="$root/jobs/$format.html($log.jobGroup)/$format.html($log.jobName)">$format.html($log.jobGroup) / $format.html($log.jobName)</a></td>
                        <td>$!format.html($log.triggerGroup) / $!format.html($log.triggerName)</td>
                        <td style="text-align: center;">$!format.date(${log.startDate})</td>
                        <td style="text-align: center;">
                            #if ($log.ended)
                                $!format.date(${log.endDate})
                                #if (!$log.success)
                                   <span style="color: red;">failed</span>
                                #end
                            #else
                                <span style="color: red;">running</span>
                            #end
                        </td>
                        <td>$!log.jobClass</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div class="innertab-title">arguments</div>
                            <div class="code innertab-content">$!format.dataMap($log.dataMap)</div>
                            <div class="innertab-title">logs</div>
                            <div class="innertab-content">
                                <a href="#" id="logs-${log.id}-link" onclick="showLogs('$log.id');">view logs</a>
                                <div id="logs-$log.id" style="display:none">
                                    reading logs...
                                </div>
                            </div>
                        </td>
                    </tr>
                #end
            </tbody>
        </table>
    </div>
#end