<!DOCTYPE html>

#parse("com/github/dbourdette/glass/velocity/macro/macros.vm")

<html>
	<head>
		#parse("com/github/dbourdette/glass/velocity/widgets/head.vm")
	</head>
	<body>
	    #parse("com/github/dbourdette/glass/velocity/widgets/menu.vm")

        <div class="subMenu">
            <a href="/glass/logs">all</a>
            <a href="/glass/logs/warn">warns</a>
            <a href="/glass/logs/error">errors</a>
        </div>

        #parse("com/github/dbourdette/glass/velocity/widgets/pages.vm")

        #history("h1" "Execution history" $page.items)

        <div class="pages">
            <a href="${root}/logs/clear">clear logs</a>
        </div>

        #parse("com/github/dbourdette/glass/velocity/widgets/footer.vm")
	</body>
</html>