<!DOCTYPE html>

#parse("com/github/dbourdette/glass/velocity/macro/macros.vm")

<html>
	<head>
		#parse("com/github/dbourdette/glass/velocity/widgets/head.vm")
	</head>
	<body>
	    #parse("com/github/dbourdette/glass/velocity/widgets/menu.vm")

        #parse("com/github/dbourdette/glass/velocity/widgets/pages.vm")

        #history("Run history" $page.items)

        <div class="pages">
            <a href="${root}/logs/clear">clear history</a>
        </div>

        #parse("com/github/dbourdette/glass/velocity/widgets/footer.vm")
	</body>
</html>