<!DOCTYPE html>

#parse("com/github/dbourdette/glass/velocity/macro/macros.vm")

<html>
	<head>
		#parse("com/github/dbourdette/glass/velocity/widgets/head.vm")
	</head>
	<body>
	    #parse("com/github/dbourdette/glass/velocity/widgets/pages.vm")

        #foreach ($jobLog in $page.items)
            $jobLog.formattedDate <span class="$jobLog.level">$jobLog.level</span> $jobLog.message

            #if ($jobLog.stackTrace)
               <a href="#" onclick="viewStackTrace($jobLog.executionId, $velocityCount);return false;">view stacktrace</a>
                <span id="logs-${jobLog.executionId}-${velocityCount}-stacktrace" style="display:none;">$jobLog.formattedStackTrace</span>
            #end

            <br>
        #end
	</body>
</html>