<title>Glass</title>

<link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8" />
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/glass.js"></script>