<!DOCTYPE html>

<html>
	<head>
		#parse("/org/glass/velocity/widgets/head.vm")
	</head>
	<body>
	    #parse("/org/glass/velocity/widgets/menu.vm")
		
		<h1><span>Run history</span></h1>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Job group / name</th>
                        <th>Trigger group / name</th>
                        <th>Job class</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($log in $logs)
                        <tr>
                            <td>$format.html($log.type)</td>
                            <td>$format.date(${log.date})</td>
                            <td><a href="/jobs/$format.html($log.jobGroup)/$format.html($log.jobName)">$format.html($log.jobGroup) / $format.html($log.jobName)</a></td>
                            <td>$format.html($log.triggerGroup) / $format.html($log.triggerName)</td>
                            <td>${log.jobClass}</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                #if ($utils.isNotEmpty($log.stackTrace))
                                    <pre>$!format.html($log.stackTrace)</pre>
                                #end
                                #if ($utils.isNotEmpty($log.stackTrace))
                                    <pre>$format.html($log.stackTrace)</pre>
                                #end
                            </td>
                        </tr>
                    #end
                </tbody>
            </table>
        </div>
	</body>
</html>