<!DOCTYPE html>

<html>
	<head>
		#parse("org/glass/velocity/widgets/head.vm")
	</head>
	<body>
	    #parse("org/glass/velocity/widgets/menu.vm")

        #parse("org/glass/velocity/widgets/pages.vm")

		<h1><span>Run history</span></h1>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Job group / name</th>
                        <th>Trigger group / name</th>
                        <th>Job class</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($log in $page.items)
                        #if ($log.ended && !$log.success)
                            <tr class="ERROR">
                        #else
                            <tr>
                        #end
                            <td style="text-align: center;">$!format.date(${log.startDate})</td>
                            <td style="text-align: center;">
                                #if ($log.ended)
                                    $!format.date(${log.endDate})
                                    #if (!$log.success)
                                       <span style="color: red;">failed</span>
                                    #end
                                #else
                                    <span style="color: red;">running</span>
                                #end
                            </td>
                            <td><a href="$root/jobs/$format.html($log.jobGroup)/$format.html($log.jobName)">$format.html($log.jobGroup) / $format.html($log.jobName)</a></td>
                            <td>$!format.html($log.triggerGroup) / $format.html($log.triggerName)</td>
                            <td>$!log.jobClass</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <span class="code">$format.dataMap($log.dataMap)</span>
                            </td>
                        </tr>
                    #end
                </tbody>
            </table>
        </div>
	</body>
</html>